html, body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    z-index: 2;
}

.loader-box {
    width: 70px;
    margin: 0 auto;
    margin-top: 20%;
}

.leaflet-container {
    height: 350px;
    width: 440px;
}

*:focus {
    outline: 0 !important;
}